../Curso CSS/
        ../Curso HTML/
        ../Curso-JS/
        ../GitHub-Page/
        ../Instagram-/
        ../Practicas/
        ../applications.html
        ../bitnami.css
        ../dashboard/
        ../favicon.ico
        ../git/
        ../img/
        ../index.php
        ../laboratoriouno/
        ../xampp/