
// Variables
$gradient: linear-gradient(to left,rgba(3, 5, 94,.3),rgba(66, 21, 21, 0.8));
$img-bg: url("https://i.postimg.cc/cJZfDsns/Comercial-Ciudad-sin-logo.jpg");
$font-color:#404145;
$font-color2:#7a7d85;
$light-fcolor:#fff;
$light-fcolor2:#f7f7f7;
$standar-blue:rgb(18, 60, 114);
$apartment-skycraper:url("https://i.postimg.cc/qqKwC1Kq/DSC5582-2.jpg");
$shaking-hands: url("https://i.postimg.cc/ZYvVg5Qm/acuerdo-compra-trato.jpg");

@mixin mobile-logos($color){
    width:50px;
    height:50px;
    color: $color;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0; padding: 0;
}


.container{
    // overflow: hidden;
    height: 85vh;
    background:$gradient,$img-bg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    .flex-items{
        display:flex;

        .toggle{
            position: absolute;
            right: 0;
            padding:5px;
            cursor: pointer;
        }

        .logo{
            padding:5px;
            color:#fff;
            display:inline-flex;

            span{
                padding:15px;
                padding-left: 5px;
            }

            img{
                width: 50px;
                height: 50px;
            }
        }
    }

    .logo ion-icon{
        @include mobile-logos(#fff);
    }

    .toggle{
        ion-icon{
            @include mobile-logos(#fff);
        }
    }

    .nav{
        background:#fff;
        height: 100vh;
        position: fixed;
        // For mobile menu i'd radther use position fixed instead of absolute or relative.
        // It is good for keeping the width of the viewport with no overflow-x and also it is good to put the container over everything in the screen.
        z-index:700;
        width:77%;
        top: 0;
        right:-80%;
        // box-shadow: 0 10px 30px 10px $font-color;
        padding-top: 15%;
        transition: all .3s ease-out;

        .item{
            list-style: none;
            display: grid;
            place-items: center;
            padding:15px;

            a{
                text-decoration: none;
                color:$font-color;
            }
        }

        ion-icon{
            @include mobile-logos($font-color);
            top:0;
            position: absolute;
            right:0;
        }

        .moon{
            left:0;
        }

        .social-media{
            text-align: center;
            padding: 10px;
            margin:27px;
            border-top:.5px solid #e2e2e2;
            ion-icon{
                @include mobile-logos($font-color);
                position: relative;
            }

            #fb:hover{
                color:#4267B2;
            }

            #ig:hover{
                color: #c13584;
            }

            #li:hover{
                color:#0e76a8;
            }
        }
    } 

    .glass-bg{
        display: none;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background-color: rgba(#111,.7);
        z-index: 500;
        transition: all .3s;
    }

    .info-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height:80%;
        .text {
            padding:10px;
            margin:15px;
            text-align: center;
            
            h2{
                color:$light-fcolor;
                font-size: 2.5rem;

            }
        
            p{
                color:$light-fcolor2;
                font-size: 1rem;
            }
        }
    }
    
    .arrow-down{
        width:max-content;
        margin:0 auto;
        .arrow{
            @include mobile-logos($light-fcolor);
            animation-name: AnimatedArrow;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            position: relative;
        }
    }

    @keyframes AnimatedArrow {
        0%{
            transform: translateY(-10px);
        }
        50%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(-10px);
        }
    }
    // This class didnt want to work due to it wanst a container class child, then i put it inside the container class and it worked!
    .open{
        right:0;
        // transform: translateX(290px);
    }

    .active{
        color:$standar-blue;
    }

    .appear{
        display: block;
    }
}

.section{
    // height:90vh;
    z-index: 50;
    padding:15px;


    .info{
        margin: 20px;
        img{
            height:450px;
            border-radius: 5px;
        }
        h2{
            color: $font-color;
            text-align:start;
        }
        p{
            color:$font-color2;
            text-align:start;
        }
        .center-item{
            text-align: center;
        }
    }
}

.section:first-child{
    background:$light-fcolor2;
        position: relative;
        padding: 10px;
    .cards{
        background: $light-fcolor;
        padding:25px;
        margin:10px;
        border-radius: 10px;
        top:-40px;
        position: relative;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        h2{
            color:$font-color;
        }

        .ul-list{
            color: $font-color2;
            margin:0 25px;
        }
    }

    .info-ico{
        text-align: center;
        background:$light-fcolor2;
        width:75px;
        margin: 0 auto;
        border-radius: 50%;

        
        ion-icon{
            font-size: 70px;
            color: $font-color;
        }
    }
}



.section:nth-child(4){
    background-color: $light-fcolor2;
    img{
        height:200px;
    }
    span{
        font-size: 2rem;
        color: $font-color;
    }
}

.middle-img{
    height: 50vh;
    background-image: url('https://i.postimg.cc/6pc0R28r/EEE-1144-2-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    // transform:translateY(-1px);
}

// .splitter{
// }

footer{
    width:100vw;
    background-color:$light-fcolor2;
    padding:10px;
    border-top: .5px #dddddd solid;    
    // border-top:#111 1px solid ;
    
    .foo-container{
        margin: 10px;
        h2{
            color: $font-color;
        }

        .more-info{
            color: $font-color2;
        }

        .logo{
            p{
                text-align: center;
            }
            img{
            width:45%
            }
        }

        .social-media{
            ion-icon{
            @include mobile-logos($font-color);
            }

            #fb:hover{
                color:#4267B2;
            }

            #ig:hover{
                color: #c13584;
            }

            #li:hover{
                color:#0e76a8;
            }
        }
    }
}
// Media query for nav ins desktop. 
// Small screens
@media screen and (max-width:375px){
    .container{
        .info-container{
            height: 70%;
        }
    }
}

// Tablets
@media screen and(min-width: 768px){
    body{
        overflow-x: hidden;
    }
    
    .section:first-child{
        display: flex;
        justify-content: center;
        .cards{
            width:40%;
        }
    }
    footer{
        .foo-container:first-child{
            .logo{
                img{
                    width:20%;
                }
            }
            .more-info{
                text-align: center;
            }
        }
    }
}

// For desktop pc and laptops.
@media screen and(min-width:1024px){
    .space{
        max-width: 1440px;
        margin-left:auto;
        margin-right:auto;
    }

    // Menu for desktop.
    .container{
        .header{
            display: flex;
            justify-content: space-between;
        }
        .toggle{
            display: none;
        }

        .flex-items{
            height: max-content;
            width: max-content;
        }

        .nav{
            position:static;
            background: none;
            height:max-content;
            width:max-content;
            padding-top: 0;

            .menu-ul{
                display: flex;
            }

            .item{
                a{
                    color: $light-fcolor;
                }
            }

            .social-media, #close-btn{
                display: none;
            }

            .moon{
                position: static;
                color:$light-fcolor2;
                height: 25px;
                padding: 15px;
            }
            
        }
    }

    .section{
        display:flex;
    }

    .section:first-child{
        .cards{
           max-width: 370px;
        }
    }

    .section:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        .info{
            width:50%;
            display: flex;
            flex: wrap;

            .more-info{
                margin:15px;

                h2{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
    


    .section:nth-child(4){
        .info{
            display:flex;
            justify-content: center;
            padding: 20px;
            img{
                width:430px;
                height:270px;
            }

            span{
                padding-top:5%;
                margin:15px;
            }
        }
    }

    footer{
        .flex-footer{
            display:flex;
        }
        .foo-container:first-child{
            min-width:400px;
            .logo{
                img{
                    height:200px;
                    width: 200px;
                }
            }
            .more-info{
                text-align: center;
            }
        }

        .foo-container:nth-child(2){
            padding:5%;
        }
        .foo-container:last-child{
            min-width:200px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

